{% extends 'base.html' %}
{% block content %}
<div class="col-lg-8">
    {% if user.is_authenticated and user.esAdministrador %}
    <div class="card mb-4">
        <h2>Eliminar publicación</h2>
        <form action="" method="post">
            {% csrf_token %}
            <p>¿Está seguro que desea eliminar la publicación "{{ publicacion.titulo }}"?</p>
            <div class="btn-group" role="group">
                <a class="btn btn-dark" type="button" role="button" href="{% url 'index' %}">Cancelar</a>
                <input class="btn btn-danger" type="submit" value="Eliminar" />
            </div>
        </form>
    </div>
    {% else %}
    <div class="alert alert-danger" role="alert">Esta sección es solo para usuarios autorizados.</div>
    {% endif %}
</div>
{% endblock %}