{% extends 'base.html' %}
{% block content %}
<div class="col-lg-8">
    {% if user.is_authenticated and user.esEscritor %}
    <h2>Nueva publicación</h2>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group mb-3">
            <label class="input-group-text" for="{{ form.titulo.id_for_label }}">{{ form.titulo.label }}</label>
            <input type="text" class="form-control" required name="{{ form.titulo.name }}" id="{{ form.titulo.id_for_label }}" value="" />
        </div>
        {% if form.titulo.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.titulo.label }}: {{form.titulo.errors }}
        </div>
        {% endif %}
        <div class="input-group mb-3">
            <label class="input-group-text" for="{{ form.contenido.id_for_label }}">{{ form.contenido.label }}</label>
            <textarea class="form-control" name="{{ form.contenido.name }}" required id="{{ form.contenido.id_for_label }}" aria-label="With textarea" rows="5"></textarea>
        </div>
        {% if form.contenido.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.contenido.label }}: {{form.contenido.errors }}
        </div>
        {% endif %}
        <div class="input-group mb-3">
            <label class="input-group-text" for="{{ form.categoria.id_for_label }}">{{ form.categoria.label }}</label>
            <select class="form-select" aria-label="Seleccione la categoría" required name="{{ form.categoria.name }}" id="{{ form.categoria.id_for_label }}">
                <option value="" selected>----------</option>
                {% for cat in categorias %}
                <option value="{{ cat.id }}">{{ cat.descripcion }}</option>
                {% endfor %}
            </select>
        </div>
        {% if form.categoria.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.categoria.label }}: {{form.categoria.errors }}
        </div>
        {% endif %}
        <div class="input-group mb-3">
            <label class="input-group-text" for="{{ form.imagen.id_for_label }}">{{ form.imagen.label }}</label>
            <input type="file" class="form-control" name="{{ form.imagen.name }}" id="{{ form.imagen.id_for_label }}" />
        </div>
        {% if form.imagen.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.imagen.label }}: {{form.imagen.errors }}
        </div>
        {% endif %}
        <div class="btn-group" role="group">
            <a class="btn btn-dark" type="button" role="button" href="{% url 'index' %}">Cancelar</a>
            <input type="submit" class="btn btn-primary" value="Publicar" />
        </div>
    </form>
    {% else %}
    <div class="alert alert-danger" role="alert">Esta sección es solo para usuarios autorizados.</div>
    {% endif %}
</div>
{% endblock %}