{% extends 'base.html' %}
{% block content %}
<div class="col-lg-8">
  <img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" /></a>
  <div class="card-body">
    <div class="d-flex justify-content-between"><div class="small p-2 bd-highlight">{{ publicacion.fechaCreacion }}</div><div class="small p-2 bd-highlight">En <a href="{% url 'categoria_filtrar' publicacion.categoria.id %}">{{ publicacion.categoria.descripcion }}</a></div></div>
    <h2 class="card-title">{{ publicacion.titulo }}</h2>
    <p class="card-text">{{ publicacion.contenido }}</p>
  {% if user.is_authenticated %}
    {# if user.groups.filter('Escritor').exits #}
    <a class="btn btn-primary" href="{% url 'publicacion_editar' publicacion.id %}">Editar</a>
    {# endif #}
  {% endif %}
  </div>
  {% if user.is_authenticated %}
    {% if user.groups.all.count > 0 %}
  <form action="" method="post">
      {% csrf_token %}
      <div class="input-group mb-3">
        {#form.as_p#}
        <input type="text" class="form-control" name="{{ form.contenido.name }}" required id="{{ form.contenido.id_for_label }}" maxlength="{{ form.contenido.max_length }}" placeholder="Escribe un comentario." aria-label="{{ form.contenido.id_for_label }}" aria-describedby="{{ form.contenido.id_for_label }}" />
        <input type="submit" class="btn btn-primary" value="Publicar" />
      </div>
  </form>
    {% endif %}
  {% endif %}
{% if comentarios.count > 0 %}
<div class="card mb-4">
  <div class="mb-2 text-center"><h2>comentarios de los lectores</h2></div>
  <div class="container ">
    <div class="row d-flex justify-content-left">
      <div class="col-md-11">
        {% for c in comentarios %}
        <div class="d-flex mb-2">
          <div class="card w-100">
            <div class="card-body p-2">
              <div class="">
                <h5 id="comentario{{ c.id }}">{{ c.getAutor }}</h5>
                <p class="small">{{ c.fechaComentario }}</p>
                <p>{{ c.contenido }}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="alert alert-info" role="alert">Esta publicación aún no tiene comentarios, sé el primero en decir algo.</div>
{% endif %}
</div>
{% endblock %}