{% extends 'base.html' %}
{% block content %}
<div class="col-lg-8">
{% if usuarios.count > 0 %}
    <h2>Listado de usuarios</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id. Usuario</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
{% for u in usuarios %}
            <tr>
                <td>{{ u.id }}</th>
                <th scope="row">{{ u.get_username }}</td>
                <td><a href="{% url 'usuario_editar' u.id %}">Editar</a> | <a href="{% url 'usuario_eliminar' u.id %}">Eliminar</a></td>
            </tr>
{% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-info" role="alert">No se han encontrado usuarios que listar.</div>
{% endif %}
<a class="btn btn-primary" type="button" href="{% url 'usuario_nuevo' %}">Nuevo usuario</a>
</div>
{% endblock %}