{% extends 'base.html' %}
{% block content %}
<div class="col-lg-8">
{% if user.is_authenticated and user.esAdministrador %}
    <h2>Crear nueva cuenta de usuario</h2>
    <form action="" method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            <label class="input-group-text" for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
            <input type="text" class="form-control" name="{{ form.username.name }}" id="{{ form.username.id_for_label }}" value="" />
        </div>
        {% if form.username.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.username.label }}: {{form.username.errors }}
        </div>
        {% endif %}
        <div class="input-group mb-3">
            <span class="input-group-text">Nombre y Apellido</span>
            <input type="text" aria-label="Nombre" class="form-control" name="{{ form.first_name.name }}" id="{{ form.first_name.id_for_label }}" value="" />
            <input type="text" aria-label="Apellido" class="form-control" name="{{ form.last_name.name }}" id="{{ form.last_name.id_for_label }}" value="" />
        </div>
        {% if form.first_name.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.first_name.label }}: {{form.first_name.errors }}
        </div>
        {% endif %}
        {% if form.last_name.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.last_name.label }}: {{form.last_name.errors }}
        </div>
        {% endif %}
        <div class="input-group mb-3">
            <label class="input-group-text" for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
            <input type="password" class="form-control" name="{{ form.password1.name }}" id="{{ form.password1.id_for_label }}" value="" />
        </div>
        {% if form.password1.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.password1.label }}: {{form.password1.errors }}
        </div>
        {% endif %}
        <div class="input-group mb-3">
            <label class="input-group-text" for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
            <input type="password" class="form-control" name="{{ form.password2.name }}" id="{{ form.password2.id_for_label }}" value="" />
        </div>
        {% if form.password2.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.password2.label }}: {{form.password2.errors }}
        </div>
        {% endif %}
        <div class="input-group mb-3">
            <label class="input-group-text" for="{{ form.groups.id_for_label }}">{{ form.groups.label }}</label>
            <select class="form-select" aria-label="Seleccione el tipo de usuario" required name="{{ form.groups.name }}" id="{{ form.groups.id_for_label }}">
                <option value="" selected>----------</option>
                {% for grupo in grupos %}
                <option value="{{ grupo.id }}">{{ grupo.name }}</option>
                {% endfor %}
            </select>
        </div>
        {% if form.groups.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.groups.label }}: {{form.groups.errors }}
        </div>
        {% endif %}
        <div class="btn-group" role="group">
            <a class="btn btn-dark" type="button" role="button" href="{% url 'usuario_listado' %}">Cancelar</a>
            <input type="submit" class="btn btn-primary" value="Registrar" />
        </div>
    </form>
{% else %}
<div class="alert alert-danger" role="alert">Esta sección es solo para usuarios autorizados.</div>
{% endif %}
</div>
{% endblock %}