{% extends 'base.html' %}
{% block content %}
<div class="col-lg-8">
    {% if user.is_authenticated and user.esAdministrador %}
    {% if tipos.count > 0 %}
    <h2>Listado de tipos de usuario</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Descripción</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
    {% for tipo in tipos %}
            <tr>
                <td>{{ tipo.id }}</th>
                <th scope="row">{{ tipo.name }}</td>
                <td><a href="{% url 'tipo_editar' tipo.id %}">Editar</a> | <a href="{% url 'tipo_eliminar' tipo.id %}">Eliminar</a></td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert alert-info" role="alert">No se han encontrado tipos de usuario que listar.</div>
    {% endif %}
    <a class="btn btn-primary" type="button" href="{% url 'tipo_nuevo' %}">Nuevo tipo de usuario</a>
    {% else %}
    <div class="alert alert-danger" role="alert">Esta sección es solo para usuarios autorizados.</div>
    {% endif %}
</div>
{% endblock %}