{% extends 'base.html' %}
{% block content %}
<div class="col-lg-8">
    {% if user.is_authenticated and user.esAdministrador %}
    <h2>Eliminar usuario</h2>
    <form action="" method="post">
        {% csrf_token %}
        <div class="alert alert-warning" role="alert">¿Está seguro que desea eliminar al usuario "{{ usuario.get_username }}"?</div>
        <div class="btn-group" role="group">
            <a class="btn btn-dark" type="button" role="button" href="{% url 'usuario_listado' %}">Cancelar</a>
            <input type="submit" class="btn btn-danger" value="Aceptar" />
        </div>
    </form>
    {% else %}
    <div class="alert alert-danger" role="alert">Esta sección es solo para usuarios autorizados.</div>
    {% endif %}
</div>
{% endblock %}