<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>BLOG - INFORMATORIO</title>
        {% load bootstrap5 %}

        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        
        {% bootstrap_css %}
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'index' %}">BLOG</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        {% with request.resolver_match.url_name as url_name %}
                        <li class="nav-item"><a class="nav-link {% if url_name == 'index' %}active{% endif %}" href="{% url 'index' %}">Inicio</a></li>
                        <!--<li class="nav-item"><a class="nav-link" href="#">Contacto</a></li>-->
                        <li class="nav-item"><a class="nav-link {% if url_name == 'nosotros' %}active{% endif %}" href="{% url 'nosotros' %}">Nosotros</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://give.undp.org">Doná ahora</a></li>
                        {% endwith %}
                    </ul>
                </div>
            </div>
        </nav>
        
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">Bienvenido a nuestro Blog!</h1>
                    <img class="img-fluid rounded mb-5" src="{% static '/img/original.jpg' %}" alt="">
                    <p class="lead mb-0">Blog dedicado a publicar sobre los ODS (Objetivos de Desarrollo Sostenible).</p>
                    <p>Hoy gracias a internet, podemos ayudar a personas físicamente en lugares muy distantes, en todo el mundo. La finalidad de esto es que los países en desarrollo aumenten y mejoren sus condiciones de vida.</p>
                    <p>En nuestro blog, puedes loguearte como lector, o ser escritor, publicando post sobre los temas relacionados, haciendo comentarios que aporten a la causa y hasta poder donar directamente a la página oficial en el PNUD (Programa de las Naciones Unidas para el Desarrollo).</p>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                {% block content %}{% endblock %}
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <!--<div class="card mb-4">
                        <div class="card-header">Search</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                            </div>
                        </div>
                    </div>-->
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Panel de usuario</div>
                        <div class="card-body">
                            <div class="row">
                                {% if user.is_authenticated %}
                                <p>Hola {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.get_username }}{% endif %}, estas son tus opciones.</p>
                                <p>Tu eres:&nbsp;{{ user.getTipo }}</p>
                                <div class="col-sm-12">
                                    <ul class="list-group list-group-flush">
                                        {% if user.esAdministrador %}
                                        <li class="list-group-item">
                                            <ul class="list-unstyled mb-0">
                                                <li><a href="{% url 'categoria_listado' %}">Listado de categorías</a></li>
                                                <li><a href="{% url 'tipo_listado' %}">Listado de tipos de usuario</a></li>
                                                <li><a href="{% url 'usuario_listado' %}">Listado de usuarios</a></li>
                                            </ul>
                                        </li>
                                        {% elif user.esEscritor %}
                                        <li class="list-group-item">
                                            <ul class="list-unstyled mb-0">
                                                <li><a href="{% url 'publicacion_nueva' %}">Nueva publicación</a></li>
                                                <li><a href="{% url 'publicacion_por_autor' user.id %}">Todas mis publicaciones</a></li>
                                            </ul>
                                        </li>
                                        {% else %}
                                        <!-- AQUÍ VAN LAS OPCIONES PARA EL LECTOR REGISTRADO -->
                                        {% endif %}
                                        <li class="list-group-item">
                                            <ul class="list-unstyled mb-0">
                                                <li><a href="{% url 'cuenta' %}"> Mi perfil</a></li>
                                                <li><a href="{% url 'cambiarPassword' %}">Cambiar contraseña</a></li>
                                            <!--</ul>
                                        </li>
                                        <li class="list-group-item">
                                            <ul class="list-unstyled mb-0">-->
                                                <li><a href="{% url 'cerrar_sesion' %}">Cerrar sesión</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                {% else %}
                                <div class="col-sm-12">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="{% url 'iniciar_sesion' %}">Iniciar sesión</a></li>
                                        <li><a href="{% url 'cuenta_registrar' %}">Registrarse</a></li>
                                    </ul>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    
                    {% if categorias.count > 0 %}
                    <div class="card mb-4">
                        <div class="card-header">Categorías</div>
                        <div class="card-body">
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <ul class="list-unstyled mb-0">
                                        {% for cat in categorias %}
                                            {% if forloop.counter0|divisibleby:2 %}
                                            <li><a href="{% url 'categoria_filtrar' cat.id %}">{{ cat.descripcion }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="col-sm-6">
                                        <ul class="list-unstyled mb-0">
                                        {% for cat in categorias %}
                                            {% if not forloop.counter0|divisibleby:2 %}
                                            <li><a href="{% url 'categoria_filtrar' cat.id %}">{{ cat.descripcion }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <!-- Side widget-->
                    <!--<div class="card mb-4">
                        <div class="card-header">Side Widget</div>
                        <div class="card-body">You can put anything you want inside of these side widgets.</div>
                    </div>-->
                </div>
            </div>
        </div>
        
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; BLOG - INFORMATORIO 2021</p></div>
        </footer>

        <!-- Bootstrap core JS-->
        {% bootstrap_javascript %}

        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>