{% extends 'base.html' %}
{% block content %}
<!-- Blog entries-->
<div class="col-lg-8">
    <h2>¿Quiénes sómos?</h2>
    Somos un grupo de estudiantes informáticos, comprometidos a brindar un soporte tecnológico que pueda ayudar y contribuir beneficios para una mejor calidad de vida, ayudando desde cualquier lugar del mundo.
    Aportando ideas, conocimiento, bienes y todo aquello que pueda sumar para ayudarnos a ayudar.
    Integrantes:
    M. Rodriguez, B. Clerici, M. Castillo, G. Ricardone y Emanuel.
</div>
{% endblock %}